<h3>Import</h3>
<%= @import.id %> -
<%= @import.created_at %> -
<%= @import.original_file.try(:url) %>

<table>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.category %></td>
      <td><%= transaction.original_description %></td>
      <td><%= transaction.notes %></td>
      <td><%= transaction.transaction_type %></td>
    </tr>
  <% end %>
</table>
